.container {
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  width: 300px;
  height: 380px;
  border-radius: 20px;
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 0.2);
}

.img {
  border-radius: 100%;
}

.name {
  font-size: 20px;
}

.role {
  font-size: 15px;
  font-weight: 500;
  color: black;
}
